{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["1"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":19},"end":{"row":9,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1575653481656,"hash":"48ff22cbc1c74aa44da915cd2d07a051ed0dfb08"}