{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":19},"end":{"row":9,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"c89933a2ef6a67f97ad54bcd417d12339d5f7a08","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1575653480854}