.col-md-5 img {
    width: inherit;
}

.btn {
   padding: 0px 0px;
}
.btn_small{
    margin: 5px 5px;
    padding: 0 0.5em;
}
#alerts {
    position: absolute;
    display: none;
    min-height: 50px;
    top: 95%;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#alerts p {
    margin: 10px 0px;
}

@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0
    }
    #mainNav .navbar-brand {
        padding: 0px 0px;
        color: #fff
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, .8)
    }
    #mainNav .navbar-nav>li.nav-item>a {
        padding: 0px 0px;
        color: #fff
    }
    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: rgba(255, 255, 255, .8)
    }
}

.greenpan {
    color: green;
}