/*--Images used  for the recipes--*/

.col-md-5 img {
    width: 256.16px;
    height: 108.87px;
}

.btn {
    padding: 0px 0px;
}

.btn_small {
    margin: 5px 5px;
    padding: 0 0.5em;
}


@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0
    }
    #mainNav .navbar-brand {
        padding: 0px 10px;
        color: #fff
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, .8)
    }
    #mainNav .navbar-nav>li.nav-item>a {
        padding: 10px 10px;
        color: #fff
    }
    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: rgba(255, 255, 255, .8)
    }
}

/* ------ All screens smaller then an IPad (768 x 1024)----*/

/* ---- base.html dropdown navbar---- */

/* ---- index.html main text---- */

@media (max-width:768px) {
    .intro-text {
        color: #212529;
        font-style: italic;
        text-align: center;
        font-size: initial;
    }
    .intro-title {
        text-align: center;
    }
    #mainNav .navbar-nav>li.nav-item>a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: white;
        color: rgba(0, 0, 0, .5);
        padding: .0rem 1rem;
    }
    nav i {
        display: block;
        font-size: 24px;
        height: 0px;
        line-height: 56px;
    }
    button:focus {
        outline: none;
        background-color: #f8f9fa;
    }
}

/* ------ All screens bigger then an IPad (768 x 1024)----*/

/* ---- index.html main text---- */

@media (min-width:768px) {
    .intro-title {
        text-align: center;
    }

    .intro-text {
        color: #212529;
        font-style: italic;
        text-align: center;
    }
}
