{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h3 class="post-title">
                Favourites
            </h3>
            <hr>
            <h5 class="post-subtitle">
                Our top products
            </h5>
            <hr>
            <li class="button">
                <a class="waves-effect waves-light btn" href="{{ url_for('addrecipe') }}">Add Recipe</a>
            </li>
        </div>
    </div>
</div>
{% endblock %}
