{% extends "base.html" %} {% block content %}
{% for recipes in recipe %}

<div class="row">
    <h4 class="col-md-7">{{ recipe.name }}</h4>
    <div class="col-md-5">
        <img src="{{ recipe.image_source }}" alt="Image of {{ recipe.name }}" />
    </div>
</div>
<div class="row">
    <h6 class="col-md-2">{{ recipe.time }}</h6>
    <h6 class="col-md-2">Serves {{ recipe.serves }}</h6>
    <h6 class="col-md-2">{{ recipe.difficulty }}</h6>
</div>
<hr>

<div class="col-md-12">
    <p>{{ recipe.description }}</p>
</div>

<div class="col-md-12">
    <h6>Ingredients</h6>
    <hr>
    <p>{{ recipe.ingredients }}</p>
    <h6>Method</h6>
    <hr>
    <p>{{ recipe.method_one }}</p>
    <p>{{ recipe.method_two }}</p>
    <p>{{ recipe.method_three }}</p>
    <p>{{ recipe.method_four }}</p>
</div>
{% endfor %}
{% endblock %}
