{% extends 'base.html' %} {% block content %}

<h3>{{ page_title }}</h3>


<div class="search_bar">
   <form action="{{ url_for('search') }}" class="form-inline my-2 my-lg-0"> 
      <input class="form-control mr-sm-2"  name="q" id="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<link rel="stylesheet " href="{{ url_for( 'static', filename='css/style.css' ) }} " type="text/css " /> {% for recipe in recipes %}

<div class="row featurette ">

    {% if loop.index % 2 != 0 %}
    <div class="col-md-7 ">
        <h4><a href="{{ url_for( 'recipes_recipe', recipe_id=recipe._id, sluggify_url=recipe.sluggify_url) }} ">{{ loop.index }}. {{ recipe.name }}</a></h4>
        <h6>{{ recipe.time }} Minutes</h6>
        <h6>Serves {{ recipe.serves }}</h6>
        <h6>{{ recipe.difficulty }}</h6>
        <p>
            {{ recipe.description }}
        </p>
    </div>

    <div class="col-md-5 ">
        <img class="featurette-image img-responsive " src="{{ recipe.image_source }} ">
    </div>
    {% else %}

    <div class="col-md-5 ">
        <img class="featurette-image img-responsive " src="{{ recipe.image_source }} ">
    </div>
    <div class="col-md-7 ">
        <h4><a href="{{ url_for( 'recipes_recipe', recipe_id=recipe._id, sluggify_url=recipe.sluggify_url) }} ">{{ loop.index }}. {{ recipe.name }}</a></h4>
        <h6>{{ recipe.time }} Minutes</h6>
        <h6>Serves {{ recipe.serves }}</h6>
        <h6>{{ recipe.difficulty }}</h6>
        <p>
            {{ recipe.description }}
        </p>
    </div>
    {% endif %}

</div>
<hr class="featurette-divider "> {% endfor %} {% endblock %}
