{% extends 'base.html' %} {% block content %}

<h2>{{ page_title }}</h2>

{% for recipe in recipes %}


<div class="row featurette">

    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h3><a href="/recipes/{{ recipe.url }}">{{ loop.index }}. {{ recipe.name }}</a></h3>
        <h5>{{ recipe.time }}</h5>
        <h5>{{ recipe.serves }}</h5>
        <h5>{{ recipe.difficulty }}</h5>
        <p>
            {{ recipe.description }}
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ recipe.image_source }}">
    </div>
    {% else %}
    
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ recipe.image_source }}">
    </div>
    <div class="col-md-7">
        <h3><a href="/recipes/{{ recipe.url }}">{{ loop.index }}. {{ recipe.name }}</a></h3>
        <h5>{{ recipe.time }}</h5>
        <h5>{{ recipe.serves }}</h5>
        <h5>{{ recipe.difficulty }}</h5>
        <p>
            {{ recipe.description }}
        </p>
    </div>
    {% endif %}

</div>
<hr class="featurette-divider"> {% endfor %} {% endblock %}
